
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Fabrica de Dados</h1>
        </div>
        <div class="form-content">
            <form>
                <div class="form-group">
                    <label for="username">E-mail</label>
                    <input type="email" id="username" name="username" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required="required" />
                </div>
                <div class="form-group">
                    <label class="form-remember">
                    </label><a class="form-recovery" href="#">Esqueceu a Senha?</a>
                </div>
                <div class="form-group">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="form-panel two">
        <div class="form-header">
            <h1>Criar Acesso</h1>
        </div>
        <div class="form-content">
            <form>
                <div class="form-group">
                    <label for="username">Nome</label>
                    <input type="text" id="username" name="username" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required="required" />
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirmar Senha</label>
                    <input type="password" id="cpassword" name="cpassword" required="required" />
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" required="required" />
                </div>
                <div class="form-group">
                    <button type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            var panelOne = $(".form-panel.two").height(),
                panelTwo = $(".form-panel.two")[0].scrollHeight;

            $(".form-panel.two")
                .not(".form-panel.two.active")
                .on("click", function (e) {
                    e.preventDefault();

                    $(".form-toggle").addClass("visible");
                    $(".form-panel.one").addClass("hidden");
                    $(".form-panel.two").addClass("active");
                    $(".form").animate(
                        {
                            height: panelTwo
                        },
                        200
                    );
                });

            $(".form-toggle").on("click", function (e) {
                e.preventDefault();
                $(this).removeClass("visible");
                $(".form-panel.one").removeClass("hidden");
                $(".form-panel.two").removeClass("active");
                $(".form").animate(
                    {
                        height: panelOne
                    },
                    200
                );
            });
        });
</script>
